/node_modules
/scoresense/app/Pieces
/scoresense/.env.example
/scoresense/package-lock.json
/scoresense/.env.example
*.example
/scoresense/package-lock.json

# Sentry Config File
.env.sentry-build-plugin
package-lock.json
